<!DOCTYPE html>
<html>
<head>
  <title>QueueOverfilled</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <script src="https://use.fontawesome.com/28dd5f0735.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
